html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Rumah Sayang Bunda - Dashboard
    link(href="https://i.ibb.co/FbgNc2d/icon-RSB.jpg" rel="shortcut icon" type="image/png")
    link(href="/css/App.css" rel="stylesheet")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    script(src="https://kit.fontawesome.com/8e8eb5d7ee.js" crossorigin="anonymous")
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins&display=swap' rel='stylesheet')
  body
    .bg-white.min-h-screen.font-pp
      include navbar.pug
      h1.font-bold.text-2xl.text-center.my-10(class="underline underline-offset-4") Selamat Datang di Dashboard Admin Rumah Sayang Bunda
      p.text-center.mt-12.font-bold.text-xl.mx-10(class="lg:mx-0") Daftar Pasien yang Sedang Melakukan Pemeriksaan
      .flex.justify-start.items-start.mx-10(class="lg:mx-24")
        label.btn.btn-sm.mt-4.normal-case.gap-2(for='add-reservasi' class="bg-pink-500 border-none hover:bg-pink-900") 
          svg.w-6.h-6(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke-width='1.5' stroke='currentColor')
            path(stroke-linecap='round' stroke-linejoin='round' d='M12 4.5v15m7.5-7.5h-15')
          |   Tambah Kunjungan
      .overflow-x-auto.mx-8.mt-8.overflow-y-auto.h-56(class="lg:mx-24")
        table.table.tableDashboard.table-compact.w-full.sortable
          thead
            tr
              th(scope="col") No
              th(scope="col") Nama
              th(scope="col") Layanan
              th(scope="col") Keluhan
              th(scope="col") Tipe Layanan
              th(scope="col") Umur
              th(scope="col") Waktu
              th(scope="col") Tanggal
              th Aksi
          tbody
            - let a = 0;
            each data in onGoingVisitData
              tr
                th(scope="row")=++a
                each customerData in customersData
                  if data.data.customerId===customerData.id
                    td 
                      a(href="/customer/" + data.data.customerId class="link link-hover")=customerData.data.name === "" ? data.data.customerId : customerData.data.name
                    - break
                td=data.data.serviceName
                td
                  label.mr-2.text-black.btn.btn-outline.btn-xs(for=data.id+"keluhan-true") keluhan
                  // Isi dari modal
                  input.modal-toggle(type='checkbox' id=data.id+"keluhan-true")
                  .modal.modal-bottom(class='sm:modal-middle')
                    .modal-box
                      .flex.flex-col.justify-start.max-w-lg.px-4.w-full.items-center
                        h1.font-bold.text-xl.text-center.mb-8 Keluhan Pasien
                        textarea(class="textarea textarea-secondary disabled:bg-white disabled:border-2 disabled:border-[#FFC9D7]" placeholder="Keluhan" disabled)=data.data.keluhan === "" ? "-" : data.data.keluhan
                      .modal-action.flex.justify-center
                        label.btn(class="bg-[#FFC9D7] border-none text-black hover:text-white hover:bg-[#f391ab]" for=data.id+"keluhan-true") Tutup
                td= data.data.serviceCare==="klinik"? "Datang ke Klinik" : `Homecare (${data.data.address})`
                td= data.data.customerAge
                td= data.data.time
                td= data.data.date
                td
                  a(href="/visit/finish/" + data.id)
                    button(class="btn btn-secondary btn-xs mx-2") selesai
                  label.btn.btn-xs.btn-error.text-white(for=data.id+"cancel") cancel
                  input.modal-toggle(type='checkbox' id=data.id+"cancel")
                  .modal.modal-bottom(class='sm:modal-middle')
                    .modal-box
                      h3.font-bold.text-md.text-center= `Apakah anda ingin membatalkan kunjungan baris ke-${a}?`
                      - let id = data.id
                      form(action="/visit/cancel/"+id  method="post") 
                        .flex.flex-row.justify-center.items-center.gap-4
                          button.btn.bg-pink-500.mt-6.px-6(class="border-none hover:bg-pink-900", type="submit") Iya
                          .modal-action
                            label.btn.btn-error.text-white(class="hover:bg-[#9e4949]" for=data.id+"cancel") Tidak
      //Tabel Pasien yang Akan Melakukan Pemeriksaan
      p.text-center.mt-8.font-bold.text-xl.mx-10(class="lg:mx-0") Daftar Pasien yang Akan Melakukan Pemeriksaan
      // isi dari modal  
      input#add-reservasi.modal-toggle(type='checkbox')
      .modal.modal-bottom(class='sm:modal-middle')
        .modal-box
          h3.font-bold.text-lg.text-center Tambah Data Kunjungan
          form(action="/visit/new/form1" method="get")
            .form-control.w-full.flex.flex-col.justify-center.items-center.px-8(class="")
              .flex.flex-col.justify-start.w-full(class="lg:max-w-lg md:max-w-md ")
                label.label
                  span.label-text(class="after:ml-0.5 after:content-['*'] after:text-red-500") Tanggal Reservasi
                input.input.input-bordered.w-full.max-w-xs(id="date-reservasi" name="date" type='date' value=""  class="lg:max-w-lg md:max-w-md" readonly)
              .flex.flex-col.justify-start.w-full(class="md:justify-start lg:max-w-lg md:max-w-md")
                label.label
                  span.label-text(class="after:ml-0.5 after:content-['*'] after:text-red-500") Silahkan pilih layanan untuk reservasi
                select.select.select-bordered.w-full.max-w-xs(name="serviceId" class="lg:max-w-lg md:max-w-md" required)
                  option(value="" selected="" disabled="") Pilih layanan
                  each data in servicesData
                    option(value=data.id)= data.data.name
              input.hidden(name="serviceCare" class="lg:max-w-lg md:max-w-md" value="klinik")
              .flex.flex-row.justify-center.items-center.gap-4
                 button.btn.bg-pink-500.mt-6(class="border-none hover:bg-pink-900", type="submit") Submit
                 .modal-action
                   label.btn.btn-error.text-white(class="hover:bg-[#9e4949]" for='add-reservasi') Batal
      .overflow-x-auto.mx-8.mt-8.overflow-y-auto.h-56.mb-10(class="lg:mx-24")
        table.table.table-compact.w-full.sortable
          thead
            tr
              th(scope="col") No
              th(scope="col") Nama
              th(scope="col") Layanan
              th(scope="col") Keluhan
              th(scope="col") Tipe Layanan
              th(scope="col") Nomor Telephone
              th(scope="col") Waktu
              th(scope="col") Tanggal Lahir
              th Aksi
          tbody
            - let i = 0;
            each dataAppointment in appointmentData
              tr
                th(scope="row")=++i
                td(id="customer-appointment" value=dataAppointment.data.name)= dataAppointment.data.name
                td= dataAppointment.data.serviceName
                td
                  label.mr-2.text-black.btn.btn-outline.btn-xs(for=dataAppointment.id+"keluhan") keluhan
                  // Isi dari modal
                  input.modal-toggle(type='checkbox' id=dataAppointment.id+"keluhan")
                  .modal.modal-bottom(class='sm:modal-middle')
                    .modal-box
                      .flex.flex-col.justify-start.max-w-lg.px-4.w-full.items-center
                        h1.font-bold.text-xl.text-center.mb-8 Keluhan Pasien
                        textarea(class="textarea textarea-secondary disabled:bg-white disabled:border-2 disabled:border-[#FFC9D7]" placeholder="Keluhan" disabled)=dataAppointment.data.keluhan === "" ? "-" : dataAppointment.data.keluhan
                      .modal-action.flex.justify-center
                        label.btn(class="bg-[#FFC9D7] border-none text-black hover:text-white hover:bg-[#f391ab]" for=dataAppointment.id+"keluhan") Tutup
                td= dataAppointment.data.serviceCare==="klinik"? "Datang ke Klinik" : `Homecare (${dataAppointment.data.address})`
                td= dataAppointment.data.numWa
                  a(href=`https://api.whatsapp.com/send?phone=${dataAppointment.data.numWa}`  target="_blank")
                    i(class="fa-brands fa-whatsapp ml-2")
                td= dataAppointment.data.time
                td= dataAppointment.data.dateOfBirth
                td
                  // The button to open modal
                  label.btn.btn-warning.mr-2.btn-xs.text-white(for=dataAppointment.id+"update") edit
                  // Isi dari modal
                  input.modal-toggle(type='checkbox' id=dataAppointment.id+"update")
                  .modal.modal-bottom(class='sm:modal-middle')
                    .modal-box
                      h3(class="text-md text-center font-bold")=`Apakah anda ingin mengedit data ${dataAppointment.data.name}?`
                      .flex.flex-row.justify-center.items-center.gap-4
                        a(href="/appointment/update/"+dataAppointment.id)
                          button.btn.bg-pink-500.mt-6.px-6(class="border-none hover:bg-pink-900", type="submit") Iya
                        .modal-action
                          label.btn.btn-error.text-white(class="hover:bg-[#9e4949]" for=dataAppointment.id+"update") Tidak
                  label.btn.btn-xs.btn-primary.mr-2(for=dataAppointment.id id="mulaiDasboard") mulai
                  // Isi dari modal
                  input.modal-toggle(type='checkbox' id=dataAppointment.id) 
                  .modal.modal-bottom(class='sm:modal-middle')
                    .modal-box
                      h3.font-bold.text-md.text-center Mulai reservasi
                        form(action="/appointment/process/"+dataAppointment.id  method="post") 
                          .form-control.w-full.flex.flex-col.justify-center.items-center.px-8(class="")
                            .flex.justify-start.w-full(class="lg:max-w-lg md:max-w-md")
                              label.label
                                span.label-text.text-start Customer
                                  .br.text-xs.font-normal pilih customer jika customer sudah terdaftar
                            select.select.select-bordered.w-full.max-w-md.overflow-y-auto(name="customerId" required="" id="customerId" onChange=`getval(${this}, ${customersData})`)
                              option(selected disabled) Pilih Customer
                              each dataCustomer in customersData
                                option(value=dataCustomer.id)= `${dataCustomer.data.name}`
                            each dataServices in servicesData
                              if dataAppointment.data.serviceId===dataServices.id
                                input(hidden value=dataServices.data.name name="serviceName") 
                                - break
                            input(type="text" name="serviceId" hidden value=dataAppointment.data.serviceId)
                            input(type="text" name="serviceCare" hidden value=dataAppointment.data.serviceCare)
                            input(type="text" name="date" hidden value=dataAppointment.data.date)
                            input(type="text" name="time" hidden value=dataAppointment.data.time)
                            input(type="text" name="address" hidden value=dataAppointment.data.address)
                            .flex.flex-row.justify-center.items-center.gap-4
                              button.btn.bg-pink-500.mt-6(class="border-none hover:bg-pink-900", type="submit") submit
                              .modal-action
                                label.btn.btn-error.text-white(class="hover:bg-[#9e4949]" for=dataAppointment.id) Batal
                        hr.my-8.mx-8
                        h3.font-bold.text-md.text-center Input Data Pasien
                        form(action=`/appointment/process/${dataAppointment.id}/newcustomer` id="form" method="post")
                          .form-control.w-full.flex.flex-col.justify-center.items-center.px-8(class="")
                            .flex.flex-col.justify-start.w-full.max-w-md(class="lg:justify-start lg:max-w-lg")
                              label.label
                                span.label-text Nama
                              input.input.input-bordered.w-full.max-w-md(name="name" type='text', placeholder='Ketik Disini' class="lg:max-w-lg" value=dataAppointment.data.name  required="")
                            each dataServices in servicesData
                              if dataAppointment.data.serviceId===dataServices.id
                                input(hidden type="text" value=dataServices.data.name name="serviceName") 
                                - break
                            input(type="text" name="serviceId" hidden value=dataAppointment.data.serviceId)
                            input(type="text" name="serviceCare" hidden value=dataAppointment.data.serviceCare)
                            input(type="text" name="date" hidden value=dataAppointment.data.date)
                            input(type="text" name="time" hidden value=dataAppointment.data.time)
                            input(type="text" name="address" hidden value=dataAppointment.data.address)
                            .flex.flex-col.justify-start.w-full.max-w-md(class="lg:justify-start lg:max-w-lg")
                              label.label
                                span.label-text No. Hp
                              input.input.input-bordered.w-full.max-w-md(name="wa" type='number', placeholder='Ketik Disini' class="lg:max-w-lg" value=dataAppointment.data.numWa  required="" )
                            .flex.flex-col.justify-start.w-full.max-w-md(class="lg:justify-start lg:max-w-lg")
                              label.label
                                span.label-text Jenis Kelamin
                              select.select.select-bordered.w-full.max-w-md(name="sex" type='text'  class="lg:max-w-lg" required="")
                                option(disabled="" selected="") Pilih jenis kelamin
                                option(value="Laki-Laki") Laki - Laki
                                option(value="Perempuan") Perempuan
                            .flex.flex-col.justify-start.w-full.max-w-md(class="lg:justify-start lg:max-w-lg")
                              label.label
                                span.label-text Tanggal Lahir
                              input.input.input-bordered.w-full.max-w-md(name="dateOfBirth" type='date', placeholder='Ketik Disini' required class="lg:max-w-lg" value=dataAppointment.data.dateOfBirth)
                            .flex.flex-row.justify-center.items-center.gap-4
                               button.btn.bg-pink-500.mt-6(class="border-none hover:bg-pink-900", type="submit") submit
                               .modal-action
                                 label.btn.btn-error.text-white(class="hover:bg-[#9e4949]" for=dataAppointment.id) Batal              
                  // The button to open modal
                  label.btn.btn-xs.btn-error.text-white(for=dataAppointment.id+"cancel") cancel
                  // Isi dari modal
                  input.modal-toggle(type='checkbox' id=dataAppointment.id+"cancel")
                  .modal.modal-bottom(class='sm:modal-middle')
                    .modal-box
                      h3.font-bold.text-md.text-center= `Apakah anda ingin menggagalkan reservasi ${dataAppointment.data.name}?`
                      - let id = dataAppointment.id
                      form(action="/appointment/cancel/"+id  method="post") 
                        .flex.flex-row.justify-center.items-center.gap-4
                          button.btn.bg-pink-500.mt-6.px-6(class="border-none hover:bg-pink-900", type="submit") Iya
                          .modal-action
                            label.btn.btn-error.text-white(class="hover:bg-[#9e4949]" for=dataAppointment.id+"cancel") Tidak    
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js")
    script(src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js")
    script(src="/js/dashboard.js")
    script(src="/js/validationReservation.js")
      