html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(href="/css/App.css" rel="stylesheet")
    title Rumah Sayang Bunda - Histori Pasien
    link(href="https://i.ibb.co/FbgNc2d/icon-RSB.jpg" rel="shortcut icon" type="image/png")
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins&display=swap' rel='stylesheet')
  body
    .bg-white.min-h-screen.font-pp
      include navbar.pug
      h1.font-bold.text-2xl.text-center.mt-6.mb-4(class="lg:text-4xl lg:mb-0") Daftar Histori Pasien
      .flex.flex-col.justify-start.items-start.px-10.w-full(class="lg:px-24 lg:justify-start lg:items-start")
        .form-control.flex.w-full.justify-start.items-start(class="lg:justify-start lg:items-start")
          label.label.text-start
            span.label-text Cari Data
        input.input.input-bordered.max-w-xs(id="myInput" type="text", placeholder='Ketik Disini')
      .overflow-x-auto.mx-10.border.rounded-t-lg.mt-4.mb-8(class="lg:mx-24")
        table.table.table-compact.w-full.sortable
          thead
            tr
              th(scope="col") No
              th(scope="col") Nama
              th(scope="col") Layanan
              th(scope="col") Tanggal Kunjungan
              th(scope="col") Tipe Layanan
              th(scope="col") Waktu
              th(scope="col") Status
              th(scope="col") Total Harga
              th(scope="col") Action
          tbody(id="myTable") 
            - let i = 1
            each data in visitData
              tr
                th= i++
                each customerData in customersData
                  if data.data.customerId===customerData.id
                    td 
                      a(href="/customer/" + data.data.customerId class="link link-hover")=customerData.data.name === "" ? data.data.customerId : customerData.data.name
                    - break
                each dataServices in servicesData
                  if (data.data.serviceId===dataServices.id)
                    td= dataServices.data.name === "" ? dataServices.id : dataServices.data.name 
                    - break
                td= data.data.date
                td= data.data.serviceCare === "klinik" ? "Datang ke Klinik" : `Homecare (${data.data.address})`
                td= data.data.time
                td= data.data.status
                td= data.data.total === undefined ? "-" : `${data.data.total}`
                td
                  label.btn(for=data.id class="btn btn-info btn-xs mx-2") detail
                  // Put this part before </body> tag                  
                  input.modal-toggle(type='checkbox' id=data.id)
                  .modal
                    .modal-box
                      label.btn.btn-sm.btn-circle.absolute.right-2.top-2(for=data.id) &#x2715;
                      h3.text-lg.font-bold Detail Harga
                      if(data.data.charge)
                        .overflow-x-auto.py-4
                          table.table.table-zebra.w-full.border.rounded-t-lg
                            // head
                            thead
                              tr
                                th(scope="col") No
                                th(scope="col") Deskripsi
                                th(scope="col") Harga
                            tbody
                              - let j = 1
                              each dataCharge in visitData
                                if(data.data.customerId === dataCharge.data.customerId && data.id === dataCharge.id && dataCharge.data.charge)
                                  each data in dataCharge.data.charge
                                    tr
                                      th= j++
                                      td= data.chargeDesc
                                      td= data.addCharge
                      else 
                        p.my-8.font-bold.text-lg.text-center Tidak ada detail harga
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js")
    script(src="/js/filter.js") 
    script(src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js")

     

      