html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(href="/css/App.css" rel="stylesheet")
    title Rumah Sayang Bunda - Daftar Customer
    link(href="https://i.ibb.co/FbgNc2d/icon-RSB.jpg" rel="shortcut icon" type="image/png")
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins&display=swap' rel='stylesheet')
  body
    .bg-white.min-h-screen.font-pp
      include navbar.pug
      h1.font-bold.text-2xl.text-center.mt-6.mb-4(class="lg:text-4xl lg:mb-0") Daftar Pasien
      // The button to open modal
      .flex.flex-row.w-full.px-24.mb-4.hidden(class="lg:flex")
        .flex.justify-start.items-end(class="")
          label.btn.normal-case.gap-2(for='add-customer' class="bg-pink-500 border-none hover:bg-pink-900") 
            svg.w-6.h-6(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke-width='1.5' stroke='currentColor')
              path(stroke-linecap='round' stroke-linejoin='round' d='M12 4.5v15m7.5-7.5h-15')
            |   Tambah Customer
        .form-control.flex.flex-col.justify-end.w-full.items-end
          .flex.max-w-md.w-full(class="justify-center items-center pl-12")
            label.label
              span.label-text Cari Data
          input.input.input-bordered.max-w-xs(id="myInput" type="text", placeholder='Ketik Disini')
      .flex.flex-col.w-full.px-10.mb-4(class="lg:hidden")
        .flex.justify-start.items-end(class="")
          label.btn.normal-case.gap-2(for='add-customer' class="bg-pink-500 border-none hover:bg-pink-900") 
            svg.w-6.h-6(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke-width='1.5' stroke='currentColor')
              path(stroke-linecap='round' stroke-linejoin='round' d='M12 4.5v15m7.5-7.5h-15')
            |   Tambah Customer
        .form-control.flex.flex-col.justify-start.w-full.items-start
          .flex.max-w-md.w-full
            label.label
              span.label-text Cari Data
          input.input.input-bordered.max-w-xs(id="myInput2" type="text", placeholder='Ketik Disini')
      input#add-customer.modal-toggle(type='checkbox')
      .modal.modal-bottom(class='sm:modal-middle')
        .modal-box
          h3.font-bold.text-lg Tambah Data 
          form(action="/customer/new" method="post")
            .form-control.w-full.flex.flex-col.justify-center.items-center.px-8(class="")
              .flex.justify-start.w-full(class="lg:justify-start lg:max-w-lg")
                label.label
                  span.label-text Nama
              input.input.input-bordered.w-full.max-w-xs(name="name" type='text', placeholder='Ketik Disini' class="lg:max-w-lg")
              .flex.justify-start.w-full(class="lg:justify-start lg:max-w-lg")
                label.label
                  span.label-text No. Hp
              input.input.input-bordered.w-full.max-w-xs(name="wa" type='text', placeholder='Ketik Disini' class="lg:max-w-lg")
              .flex.justify-start.w-full(class="lg:justify-start lg:max-w-lg")
               label.label
                  span.label-text Jenis Kelamin
              select.select.select-bordered.w-full.max-w-xs(name="sex" type='text', placeholder='Ketik Disini' class="lg:max-w-lg")
                option(disabled="" selected="") Pilih jenis kelamin
                option(value="Laki-Laki") Laki-Laki 
                option(value="Perempuan") Perempuan
              .flex.justify-start.w-full(class="lg:justify-start lg:max-w-lg")
                label.label
                  span.label-text Tanggal Lahir
              input.input.input-bordered.w-full.max-w-xs(name="dateOfBirth" type='date', placeholder='Ketik Disini' class="lg:max-w-lg")
              .flex.flex-row.justify-center.items-center.gap-4
                 button.btn.bg-pink-500.mt-6(class="border-none hover:bg-pink-900", type="submit") submit
                 .modal-action
                   label.btn.btn-error.text-white(class="hover:bg-[#9e4949]" for='add-customer') Batal
      .overflow-x-auto.mx-10.border.rounded-t-lg.mb-10(class="lg:mx-24")
        table.table.table-compact.w-full.sortable(id="example")
          thead
            tr
              th(scope="col") No
              th(scope="col") Nama
              th(scope="col") No. Hp
              th(scope="col") Jenis Kelamin
              th(scope="col") Tanggal lahir
              th Aksi
          tbody(id="myTable")  
            - let i = 1
            each data in customersdata
              tr
                th= i++
                td= data.data.name
                td= data.data.numWa
                td= data.data.sex
                td= data.data.dateOfBirth
                td
                  a(href="/customer/" + data.id) 
                    button(class="btn btn-info btn-xs mx-2") detail
                  // The button to open modal
                  label.btn.btn-xs.btn-warning.mr-2.updateCustomer(for=data.id) edit
                  // Put this part before </body> tag
                  input.modal-toggle(type='checkbox' id=data.id)
                  .modal.modal-bottom(class='sm:modal-middle')
                    .modal-box
                      h3.font-bold.text-lg Edit Data 
                      form(action="/customer/update/"+ data.id method="post")
                        .form-control.w-full.flex.flex-col.justify-center.items-center.px-8
                          .flex.justify-start.w-full(class="lg:justify-start lg:max-w-lg")
                            label.label
                              span.label-text Nama
                          input.input.input-bordered.w-full.max-w-xs(name="name" id="name" value=data.data.name type='text',  class="lg:max-w-lg")
                          .flex.justify-start.w-full(class="lg:justify-start lg:max-w-lg")
                            label.label
                              span.label-text No. Hp
                          input.input.input-bordered.w-full.max-w-xs(name="wa" id="wa" value=data.data.numWa type='text',  class="lg:max-w-lg")
                          .flex.justify-start.w-full(class="lg:justify-start lg:max-w-lg")
                            label.label
                              span.label-text Jenis Kelamin
                          select.select.select-bordered.w-full.max-w-xs(name="sex" id="sex" value=data.data.sex type='text',  class="lg:max-w-lg")
                            - let sexTemp = data.data.sex
                            - if(sexTemp==="Laki-Laki")
                              option(disabled="") Pilih jenis kelamin 
                              option(value="Laki-Laki" selected="" id='laki2') Laki-Laki
                              option(value="Perempuan" id='perempuan') Perempuan
                            - else 
                              option(disabled="") Pilih jenis kelamin 
                              option(value="Laki-Laki" id='laki2') Laki-Laki
                              option(value="Perempuan" selected="" id='perempuan') Perempuan
                          .flex.justify-start.w-full(class="lg:justify-start lg:max-w-lg")
                            label.label
                              span.label-text Tanggal Lahir
                          input.input.input-bordered.w-full.max-w-xs(name="dateOfBirth" id="dateOfBirth" value=data.data.dateOfBirth type='date',  class="lg:max-w-lg")
                          .flex.flex-row.justify-center.items-center.gap-4
                            button.btn.bg-pink-500.mt-6(class="border-none hover:bg-pink-900", type="submit") submit
                            .modal-action
                              label.btn.btn-error.text-white(class="hover:bg-[#9e4949]" for=data.id) Batal
                  label.btn.btn-xs.btn-error(for=data.id+"delete") delete
                  // Isi dari modal
                  input.modal-toggle(type='checkbox' id=data.id+"delete")
                  .modal.modal-bottom(class='sm:modal-middle')
                    .modal-box
                      h3.font-bold.text-lg Apakah anda yakin ingin menghapus data ini?
                      - let id = data.id
                      form(action="/customer/delete/"+id  method="post") 
                        .flex.flex-row.justify-center.items-center.gap-4
                          button.btn.bg-pink-500.mt-6(class="border-none hover:bg-pink-900", type="submit") Iya
                          .modal-action
                            label.btn.btn-error.text-white(class="hover:bg-[#9e4949]" for=data.id+"delete") Tidak
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js")
    script(src="/js/filter.js")       
    script(src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js")
     

      