html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(href="/css/App.css" rel="stylesheet")
    title Rumah Sayang Bunda - Daftar Kunjungan
    link(href="https://i.ibb.co/FbgNc2d/icon-RSB.jpg" rel="shortcut icon" type="image/png")
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins&display=swap' rel='stylesheet')
  body
    .bg-white.min-h-screen.font-pp
      include navbar.pug
      h1.font-bold.text-2xl.text-center.mt-6.mb-4(class="lg:text-4xl lg:mb-0") Daftar Reservasi
      .flex.flex-row.w-full.px-24.mb-4.hidden(class="lg:flex")
        .flex.justify-start.items-end.w-full
          .dropdown.dropdown-right
            label.btn.m-1(tabindex='0' class="bg-pink-500 border-none hover:bg-pink-900") Filter Data
            ul.dropdown-content.menu.p-2.shadow.bg-base-100.rounded-box.w-52(tabindex='0')
              li
                a(href="/appointment") Semua Data
              li
                a(href="/appointment/soon") Mendatang
              li
                a(href="/appointment/past") Telah Lewat
        .flex.flex-col.w-full.justify-end.items-end(class="") 
          .flex.max-w-md.w-full.p-0(class="justify-center items-center lg:pl-12")
            label.label
              span.label-text Cari Data
          input.input.input-bordered.max-w-xs(id="myInput" type="text", placeholder='Ketik Disini')
      .flex.flex-col.w-full.px-10.mb-4(class="lg:hidden")
        .flex.justify-start.items-end.w-full
          .dropdown.dropdown-right
            label.btn.m-1(tabindex='0' class="bg-pink-500 border-none hover:bg-pink-900") Filter Data
            ul.dropdown-content.menu.p-2.shadow.bg-base-100.rounded-box.w-52(tabindex='0')
              li
                a(href="/appointment") Semua Data
              li
                a(href="/appointment/soon") Mendatang
              li
                a(href="/appointment/past") Telah Lewat
        .flex.flex-col.w-full.justify-start.items-start(class="") 
          .flex.max-w-md.w-full.p-0(class="")
            label.label
              span.label-text Cari Data
          input.input.input-bordered.max-w-xs(id="myInput2" type="text", placeholder='Ketik Disini')
      .overflow-x-auto.mx-10.mt-8.mb-8.border.rounded-t-lg.overflow-y-auto(class="lg:mx-24")
        table.table.table-compact.w-full.sortable
          thead
            tr
              th(scope="col") No
              th(scope="col") Nama
              th(scope="col") Layanan
              th(scope="col") Status
              th(scope="col") Tipe Layanan
              th(scope="col") Tanggal Reservasi
              th(scope="col") Waktu
              th(scope="col") Tanggal Lahir
              th(scope="col") Aksi
          tbody(id="myTable")
            - let i = 1 
            each data in appointmentsData
              tr
                th= i++
                td= data.data.name
                td= data.data.serviceName
                if data.data.status===""
                  td - 
                else if data.data.status===true
                  td Selesai
                else if data.data.status===false
                  td Belum berjalan
                else 
                  td Dibatalkan
                td= data.data.serviceCare==="klinik"? "Datang ke Klinik" : `Homecare (${data.data.address})`
                td= data.data.date
                td= data.data.time
                td= data.data.dateOfBirth
                td
                  - if(data.data.status===false)
                    // The button to open modal
                    label.btn.btn-warning.mr-2.btn-xs.btn-danger.text-white(for=data.id+"update") edit
                    // Isi dari modal
                    input.modal-toggle(type='checkbox' id=data.id+"update")
                    .modal.modal-bottom(class='sm:modal-middle')
                      .modal-box
                        h3(class="text-md text-center font-bold")=`Apakah anda ingin mengedit data ${data.data.name}?`
                        .flex.flex-row.justify-center.items-center.gap-4
                          a(href="/appointment/update/"+data.id)
                            button.btn.bg-pink-500.mt-6.px-6(class="border-none hover:bg-pink-900", type="submit") Iya
                          .modal-action
                            label.btn.btn-error.text-white(class="hover:bg-[#9e4949]" for=data.id+"update") Tidak  
                  - else 
                    p -
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js")
    script(src="/js/filter.js")  
    script(src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js")
     

      