html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(href="/css/App.css" rel="stylesheet")
    title Rumah Sayang Bunda - Kasir
    link(href="https://i.ibb.co/FbgNc2d/icon-RSB.jpg" rel="shortcut icon" type="image/png")
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins&display=swap' rel='stylesheet')
  body
    include navbar.pug
    div.flex.font-pp.px-10(class="flex-col lg:flex-row lg:px-0")
      div.pt-12.w-full.flex.flex-col.pl-0(class="lg:pl-56")
        label.font-bold.text-2xl.font-pp.text-center(class="lg:text-start") Detail Data Kunjungan
        .justify-center.items-center.flex.flex-col.font-pp
          .form-control.w-full
            label.label
              span.label-text Nama
            input.input.input-bordered.w-full.max-w-md(value=customerData.name type='text'  disabled)
            label.label
              span.label-text No. Hp
            input.input.input-bordered.w-full.max-w-md(value=customerData.numWa type='text'  disabled)
            label.label
              span.label-text Umur
            input.input.input-bordered.w-full.max-w-md(value=visitData.data.customerAge type='text'  disabled)
            label.label
              span.label-text Waktu
            input.input.input-bordered.w-full.max-w-md(value=visitData.data.time type='text'  disabled)
            label.label
              span.label-text Tipe Layanan
            - var tipeLayanan = visitData.data.serviceCare === 'klinik' ? `Datang ke klinik` : `Homecare (${visitData.data.address})`
            input.input.input-bordered.w-full.max-w-md(value=tipeLayanan type='text'  disabled)
            label.label
              span.label-text Tanggal Kunjungan
            input.input.input-bordered.w-full.max-w-md(value=visitData.data.date type='text'  disabled)
      div.flex.flex-col.w-full.pt-12.px-10(class="justify-start items-center lg:justify-start lg:items-start")
        label.font-bold.text-2xl.font-pp.text-center(class="lg:text-start") Total harga pemeriksaan
        .overflow-x-auto.font-pp.mt-8.border.rounded-t-lg.mx-10(class="lg:mx-0")
          table.table.table-compact(class="table-normal")
            thead
              tr
                th No
                th Layanan
                th Ruangan
                th Harga
            tbody
              tr
                td 1
                td= serviceData.data.name
                td= serviceData.data.room
                td= serviceData.data.price
        form(action='/visit/finish/'+visitData.id method="post")
          input.input.hidden.input-bordered.w-full.max-w-md(name="name" value=customerData.name type='text')
          input.input.hidden.input-bordered.w-full.max-w-md(name="sex" value=customerData.sex type='text' )
          input.input.hidden.input-bordered.w-full.max-w-md(name="numWa" value=customerData.numWa type='text' )
          input.input.hidden.input-bordered.w-full.max-w-md(name="time" value=visitData.data.time type='text' )
          input.input.hidden.input-bordered.w-full.max-w-md(name="date" value=visitData.data.date type='text')
          input.input.hidden.input-bordered.w-full.max-w-md(name="customerAge" value=visitData.data.customerAge type='text')
          input.input.hidden.input-bordered.w-full.max-w-xs(name='serviceName' class="" value=serviceData.data.name type='text')
          input.input.hidden.input-bordered.w-full.max-w-xs(name='room' class="" value=serviceData.data.room type='text')
          input.input.hidden.input-bordered.w-full.max-w-xs(name='charge' class="hargaService" value=serviceData.data.price type='text')
          button.btn.btn-sm.normal-case.gap-2.mr-2.my-4(class="add_field_button bg-pink-500 border-none hover:bg-pink-900" type="button")
            svg.w-6.h-6(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke-width='1.5' stroke='currentColor')
              path(stroke-linecap='round' stroke-linejoin='round' d='M12 4.5v15m7.5-7.5h-15')
            |   Biaya Tambahan   
          div(class="input_fields_wrap")
          button.btn.btn-sm.normal-case.mt-6(class="done_button bg-pink-500 border-none hover:bg-pink-900" type="button") Selesai 
          label(class="label font-bold") Total Pembayaran
          input(name="total" type="text" placeholder="Ketik Disini" value=serviceData.data.price readonly class="input total input-bordered w-full max-w-xs mt-2 font-bold")
          div(class="done_fields mb-8")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js")
    script(src="/js/addInputOnPrice.js")
              
    


