html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(href="/css/App.css" rel="stylesheet")
    title Rumah Sayang Bunda - Kasir
    link(href="https://i.ibb.co/FbgNc2d/icon-RSB.jpg" rel="shortcut icon" type="image/png")
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins&display=swap' rel='stylesheet')
  body
    include navbar.pug
    div.flex.flex-row.font-pp
      div.pt-12.w-full.flex.flex-col.pl-56
        label.font-bold.text-2xl.font-pp Detail Data Kunjungan
        .justify-center.items-center.flex.flex-col.font-pp
          .form-control.w-full
            label.label
              span.label-text Nama
            input.input.input-bordered.w-full.max-w-md(value=customerData.name type='text'  disabled)
            label.label
              span.label-text No. Hp
            input.input.input-bordered.w-full.max-w-md(value=visitData.data.numWa type='text'  disabled)
            label.label
              span.label-text Waktu
            input.input.input-bordered.w-full.max-w-md(value=visitData.data.time type='text'  disabled)
            label.label
              span.label-text Waktu Selesai
            input.input.input-bordered.w-full.max-w-md(value=visitData.data.timeFinish type='text'  disabled)
            label.label
              span.label-text Tanggal Kunjungan
            input.input.input-bordered.w-full.max-w-md(value=visitData.data.date type='text'  disabled)
      div.flex.flex-col.justify-start.items-start.w-full.pt-12
        label.font-bold.text-2xl.font-pp Total harga pemeriksaan
        .overflow-x-auto.font-pp.mt-8.border.rounded-t-lg 
          table.table.table-normal.w-full
            thead
              tr
                th
                th Layanan
                th Ruangan
                th Harga
            tbody
              tr
                td 1
                td= serviceData.data.name
                td= serviceData.data.room
                td= serviceData.data.price
        form(action="/visit/finish/"+visitData.id method="post")
          div(class="input_fields_wrap")
          div(class="done_fields mb-8")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    script(src="/js/addInputOnPrice.js")
              
    


